<link rel="stylesheet" href="forgot_changepass.css">
<div class="main">
            <% if(err){%>
            <div id="wrong"><%=message%></div>
            <% }%>
      <div class="content">
         
          <form action="/changePassword" method="post">
              <h2 id="verify-h2">Change Password Form</h2>
              <div class="inputTags">
                   <label for="oldPassword">Registered oldPassword : </label>
                   <input  required minlength="5" name="oldPassword" type="password" id="oldPassword" placeholder="Enter your oldPassword">
              </div>
              <div class="inputTags">
                   <label for="newPassword">New Password : </label>
                   <input  required minlength="5" name="newPassword" type="password" id="newPassword" placeholder="Enter your New Password">
              </div>
               <div class="inputTags">
                   <label for="confirmNewPassword"> Confirm Password : </label>
                   <input  required minlength="5" name="confirmNewPassword" type="password" id="confirmNewPassword" placeholder="Confirm your New Password">
              </div>
              <input type="submit" id="changePassword" value="Change Password">
          </form>
      </div>
   </div>
<script src="errorSuccessShow.js"></script>