<link rel="stylesheet" href="forgot_changepass.css">
<div class="main">
     <% if(err){%>
         <div id="wrong"><%=message%></div>
     <% }%>
     <div class="content">
          <form action="/forgotPassword" method="post">
              <h2 id="verify-h2">Enter Your Registered Email to Verify</h2>
              <div class="inputTags">
                   <label for="email">Registered Email : </label>
                   <input  required name="email" type="email" id="email" placeholder="Enter your Email">
              </div>
              <input type="submit" id="verify" value="Verify">
          </form>
     </div>
 </div>
<script src="errorSuccessShow.js"></script>