<link rel="stylesheet" href="forgot_changepass.css">
<div class="main">
       <% if(err){%>
           <div id="wrong"><%=message%></div>
       <% }%>
      <div class="content">
          <form action="/reset:<%=id%>" method="post">
              <h2 id="verify-h2">Reset Your Password</h2>
              <div class="inputTags">
                   <label for="password"> New password : </label>
                   <input  required minlength="5" name="password" type="password" id="password" placeholder="Enter New password">
              </div>
             <div class="inputTags">
                   <label for="cpassword">Confirm password : </label>
                   <input  required minlength="5" name="cpassword" type="password" id="cpassword" placeholder="Confirm New password">
              </div>
              <input type="submit" id="verify" value="Reset">
          </form>
      </div>
   </div>
<script src="errorSuccessShow.js"></script>