<link rel="stylesheet" href="../../../navbar.css">
<div class="navbar">
 <div class="user-details">
     
      <h2><%= userData%></h2>
 </div>
      <h1>Welcome to U-Kart_Shopping</h1>
      <button id="userView"><a href="/page1">User View Point</a></button>
      <button id="AddToCart"><a href="/admin/addProduct">Add Products</a></button>
      <button id="logout"><a href="/logout">LogOut</a></button> 
</div>